{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="MIRA'S CORNER">
	<meta name="keywords" content="personal blog, fashion, life style, clothing, beauty, costimetics, women, motivation, bible">
	<meta name="author" content="MIRABELL OLUWATOYIN">
	<meta http-equiv="refresh" content="280">
	<meta name="viewport" content="Width=device-width, initial-scale=1.0">
	<title>MIRA'S CORNER</title>
	<link rel="stylesheet" type="text/css" href="{% static 'index.css'%}">
</head>
<body>

	<header>
	 <h6 id="logo">
				 <span class="gold">MIRA'S</span> KITCHEN
			</h6>
		<section id="first">

			<img src="{% static 'mira_kitchen_img/logo_kitchen.png'%}">
		</section>
	   <section id="second">
		<h1>
			MIRA'S KITCHEN
		</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. </p>

		<a href="/register" id="mcl">EXPLORE</a>
	   </section>
    </header>

</body>
</html>